@media (max-width: 1259px) {
  .wrapper header.new_style .inner {
    width: 980px;
  }
  .wrapper header.new_style .inner .top_lin .top_menu {
    right: 210px;
  }
  .wrapper header.new_style .inner .top_lin .search .block .inn_block {
    width: 980px;
  }
  .wrapper header.new_style .inner .top_lin .internet_bank {
    width: 150px;
  }
  .wrapper header.new_style .inner .top_lin .internet_bank a:before {
    left: 17px;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item:first-child a.main {
    padding-left: 0;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item a.main {
    font: 16px/56px 'Circe', 'Arial', san-serif;
    padding: 0 20px 0 15px;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item a.main:after {
    right: 5px;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block {
    display: none;
    position: absolute;
    left: 0;
    width: 1220px;
    padding: 60px 0 65px;
    background: #fff;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block:before {
    position: absolute;
    display: block;
    top: 0;
    right: 100%;
    width: 2000px;
    height: 100%;
    content: '';
    background: #fff;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block:after {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    width: 2000px;
    height: 100%;
    content: '';
    background: #fff;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item {
    float: left;
    width: 280px;
    min-height: 215px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #d7d7d7;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item:first-child {
    margin-left: 0;
    border-left: none;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell {
    margin-top: 20px;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell:first-child {
    margin-top: 0;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell a.sub_main {
    display: block;
    font: bold 17px/20px 'Circe', 'Arial', san-serif;
    color: #373a36;
    margin-bottom: 15px;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell a.sub_main:hover {
    text-decoration: underline;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span {
    display: block;
    margin-top: 10px;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span:first-child {
    margin-top: 0;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span a {
    display: inline-block;
    font: 16px/20px 'Circe', 'Arial', san-serif;
    color: #373a36;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span a:hover {
    color: #fe5000;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block .txt {
    font: 15px/20px 'Circe', 'Arial', san-serif;
    color: #373a36;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .title {
    font: bold 12px/18px 'Circe', 'Arial', san-serif;
    color: #373a36;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 194px;
    height: 122px;
    border-radius: 10px;
    border: 1px solid #D0DDDD;
    overflow: hidden;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img.int_bank {
    width: 210px;
    height: 120px;
    border: none;
    border-radius: 0;
    overflow: visible;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img a img {
    width: 100%;
    height: 100%;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .butn {
    margin: 0 auto;
    width: 194px;
    height: 46px;
    text-align: center;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .butn input[type='submit'] {
    width: 100%;
    border: 2px solid #fe5000;
    border-radius: 5px;
    font: 12px/46px 'Circe', 'Arial', san-serif;
    color: #fe5000;
    text-transform: uppercase;
    background: none;
  }
  .wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .butn input[type='submit']:hover {
    background: #fe5000;
    color: #fff;
  }
  .wrapper header.new_style .inner .mid_lin .client_menu .item {
    margin-left: 10px;
  }
  .wrapper header.new_style .inner .mid_lin .client_menu .item a {
    font: 11px/56px 'Circe', 'Arial', san-serif;
    padding-left: 11px;
  }
  .wrapper header.new_style .inner #city.act {
    z-index: 99;
    position: relative;
    background: #fff;
  }
  .wrapper header.new_style .inner #city.act:before {
    position: absolute;
    height: 100%;
    width: 1920px;
    background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
    left: 50%;
    margin-left: -960px;
    content: '';
    top: 0;
  }
  .wrapper header.new_style .inner #city.act:after {
    position: absolute;
    height: 3000px;
    width: 1920px;
    background: rgba(0, 0, 0, 0.7);
    left: 50%;
    margin-left: -960px;
    content: '';
    top: 100%;
  }
  .wrapper header.new_style .inner .pan_reg_chosen {
    z-index: 100;
    position: relative;
    display: block;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .close_city {
    top: 30px;
    width: 22px;
    height: 22px;
    background: url('../img/close_search.png') no-repeat 50% 50%;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .close_city:hover {
    background: url('../img/close_search.png') no-repeat 50% 50%;
    opacity: 0.85;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .logo {
    top: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .allregs {
    float: none;
    position: absolute;
    left: 0;
    top: 95px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .chosen_reg {
    float: none;
    font: 24px/28px 'Circe', 'Arial', san-serif;
    color: #373a36;
    margin-bottom: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section {
    float: left;
    width: 200px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section a {
    color: #373a36;
    text-decoration: underline;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section a:hover {
    text-decoration: none;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice {
    float: none;
    color: #373a36;
    font: 16px/20px 'Circe', 'Arial', san-serif;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice a {
    color: #373a36;
    text-decoration: underline;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice a:hover {
    text-decoration: none;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .block {
    padding: 90px 25px 45px 360px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp {
    width: 780px;
    min-height: 50px;
    background: url("../img/search.svg") no-repeat 15px 15px #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    left: 360px;
    top: 15px;
    position: absolute;
    padding: 15px 45px;
    z-index: 10;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp input[type="text"] {
    color: #969595;
    font: 16px/20px 'Circe', 'Arial', san-serif;
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper {
    width: 100%;
    color: #969595;
    font: 16px/20px 'Circe', 'Arial', san-serif;
    z-index: 10;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a {
    color: #969595;
    display: block;
    margin-top: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a:hover {
    color: #fe5000;
  }
  .wrapper .block_slides_ns {
    height: 570px;
    background-size: cover;
  }
  .wrapper .block_slides_ns .inner_slider {
    width: 980px;
    height: 570px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide {
    background: url("../img/slide_1.png") 440px bottom no-repeat;
  }
  .wrapper .features_bank .inn_features {
    width: 980px;
    padding: 0 40px;
  }
  .wrapper .features_bank .inn_features .item {
    left: 40px;
  }
  .wrapper .features_bank .inn_features .item.payment {
    left: 350px;
  }
  .wrapper .features_bank .inn_features .item.translation {
    left: 660px;
  }
  .wrapper .products_bank {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .wrapper .products_bank .prod_block .big_item {
    width: 230px;
  }
  .wrapper .products_bank .prod_block .big_item .item .img {
    height: 130px;
  }
  .wrapper .products_bank .prod_block .big_item .item .descr a {
    font: 11px/18px 'Circe', 'Arial', san-serif;
  }
  .wrapper .products_bank .prod_block .big_item .item .descr a span {
    font: 12px/26px 'Circe', 'Arial', san-serif;
  }
}
