@font: 'Circe', 'Arial', san-serif;
@black: #373a36;
@orange: #FE5000;


@media(max-width: 989px){
  .wrapper {

    header.new_style{
      .inner{
        width: 740px;
        .top_lin{
          height: 62px;
          .logo{
            top: 10px;
            width: 180px;
            height: 39px;
          }
          .top_menu{
            display: none;
          }
          .internet_bank{
            display: none;
          }
          .dop_menu{
            top: 20px;
            a.main{
              width: 27px;
              height: 18px;
              span{
                height: 3px;
                width: 27px;
                margin-top: 4px;
              }
            }
          }
          .search{
            top: 18px;
            right: 45px;
            .block{
              height: 62px;
              .inn_block{
                width: 740px;
                input[type='text']{
                  padding: 15px 35px;
                }
              }
            }
          }
          .lk_btn{
            display: block;
          }
        }
        .mid_lin{
          display: none;
        }


        #city{
          &.act{
            z-index: 99;
            position: relative;
            background: #fff;
            &:before {
              position: absolute;
              height: 100%;
              width: 1920px;
              background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 0;
            }
            &:after {
              position: absolute;
              height: 3000px;
              width: 1920px;
              background: rgba(0, 0, 0, 0.7);
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 100%;
            }
          }
        }
        .pan_reg_chosen{
          z-index: 100;
          position: relative;
          display: block;
          .close_city {
            top: 30px;
            width: 22px;
            height: 22px;
            background: url('../img/close_search.png') no-repeat 50% 50%;
            &:hover {
              background: url('../img/close_search.png') no-repeat 50% 50%;
              opacity: 0.85;
            }
          }
          .logo{
            top: 15px;
          }
          .allregs{
            float: none;
            position: absolute;
            left: 0;
            top: 95px;
          }
          .chosen_reg{
            float: none;
            font: 24px/28px @font;
            color:#373a36;
            margin-bottom: 15px;
          }
          .section{
            float: left;
            width: 200px;
            a{
              color: #373a36;
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .city_choice{
            float: none;
            color: #373a36;
            font: 16px/20px @font;
            a{
              color: #373a36;
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .block{
            padding: 90px 25px 45px 360px;
          }
          .inp{
            width: 780px;
            min-height: 50px;
            background: url("../img/search.svg") no-repeat 15px 15px #fff;
            border-radius: 3px;
            border:1px solid #cccccc;
            left: 360px;
            top: 15px;
            position: absolute;
            padding: 15px 45px;
            z-index: 10;

            input[type="text"]{
              color: #969595;
              font: 16px/20px @font;

              width: 100%;
              height: 100%;
              background: none;
              border:0;
            }
            .suggestions-wrapper{
              width: 100%;
              color: #969595;
              font: 16px/20px @font;
              z-index: 10;
              a{
                color: #969595;
                display: block;
                margin-top: 15px;
                &:hover{
                  color: #fe5000;
                }
              }
            }
          }
        }
      }
    }

    .block_slides_ns{
      height: 440px;
      background-size: cover;
      .inner_slider{
        width: 740px;
        height: 440px;
        .inn_sl{
          &.slick-slider{
            ul.slick-dots{
              right: -20px;
            }
          }
          .slide{
            height: 440px;
            background: url("../img/slide_1.png") 325px bottom  no-repeat;
            background-size: 360px;
            .title{
              top: 130px;
              font: 40px/42px @font;
            }
            .descr{
              width: 255px;
              top: 180px;
              font: 16px/22px @font;
              br{
                display: none;
              }
            }
            .btn_order{
              top: 270px;
            }
          }
        }
      }
    }
    .features_bank{
      .inn_features{
        width: 740px;
        height: 160px;
        padding: 0;
        .item{
          bottom: 55px;
          left: 0;
          width: 235px;
          min-height: 120px;
          &:hover{
            a.big{
              min-height: 90px;
              max-height: 90px;
              border-radius: 5px 5px 0 0;
              padding: 20px 20px 20px 90px;
              &:before{
                top: 20px;
              }
            }
            .block{
              display: block;
            }
          }
          &.payment{
            bottom: 55px;
            left: 255px;
          }
          &.translation{
            bottom: 55px;
            left: 510px;
          }
          a.big{
            min-height: 120px;
            max-height: 120px;
            border-radius: 5px;
            padding: 35px 20px 30px 85px;
            font: 16px/22px 'Circe', 'Arial', san-serif;
            &:before{
              top: 35px;
              left: 25px;
              width: 48px;
              height: 48px;
            }
          }
          .block{
            padding: 20px 20px 20px 20px;
            border-radius: 0 0 5px 5px;
            span{
              margin-top: 0;
              a{
                font: 14px/26px @font;
              }
            }
          }
        }
      }
    }
    .products_bank{
      width: 740px;
      .prod_block{
        .big_item{
          width: auto;
          margin-left: 0;
          .item{
            width: 230px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}







