@media (max-width: 767px) {
  .wrapper header.new_style .inner {
    width: 320px;
  }
  .wrapper header.new_style .inner .top_lin .search.active {
    right: auto;
    left: 0;
    top: 50%;
    margin-top: -9px;
  }
  .wrapper header.new_style .inner .top_lin .search.active a.srch {
    position: relative;
    z-index: 7;
  }
  .wrapper header.new_style .inner .top_lin .search.active .block {
    display: block;
  }
  .wrapper header.new_style .inner .top_lin .search.active .grey_fon {
    display: block;
  }
  .wrapper header.new_style .inner .top_lin .search .block {
    height: 62px;
  }
  .wrapper header.new_style .inner .top_lin .search .block .inn_block {
    width: 320px;
  }
  .wrapper header.new_style .inner .top_lin .search .block .inn_block input[type='text'] {
    padding: 15px 25px;
    font: 16px/30px 'Circe', 'Arial', san-serif;
  }
  .wrapper header.new_style .inner .top_lin .search .block .inn_block a.close_search {
    margin-top: -9px;
    width: 18px;
    height: 18px;
  }
  .wrapper header.new_style .inner #city.act {
    z-index: 99;
    position: relative;
    background: #fff;
  }
  .wrapper header.new_style .inner #city.act:before {
    position: absolute;
    height: 100%;
    width: 1920px;
    background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
    left: 50%;
    margin-left: -960px;
    content: '';
    top: 0;
  }
  .wrapper header.new_style .inner #city.act:after {
    position: absolute;
    height: 3000px;
    width: 1920px;
    background: rgba(0, 0, 0, 0.7);
    left: 50%;
    margin-left: -960px;
    content: '';
    top: 100%;
  }
  .wrapper header.new_style .inner .pan_reg_chosen {
    z-index: 100;
    position: relative;
    display: block;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .close_city {
    top: 30px;
    width: 22px;
    height: 22px;
    background: url('../img/close_search.png') no-repeat 50% 50%;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .close_city:hover {
    background: url('../img/close_search.png') no-repeat 50% 50%;
    opacity: 0.85;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .logo {
    top: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .allregs {
    float: none;
    position: absolute;
    left: 0;
    top: 95px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .chosen_reg {
    float: none;
    font: 24px/28px 'Circe', 'Arial', san-serif;
    color: #373a36;
    margin-bottom: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section {
    float: left;
    width: 200px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section a {
    color: #373a36;
    text-decoration: underline;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section a:hover {
    text-decoration: none;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice {
    float: none;
    color: #373a36;
    font: 16px/20px 'Circe', 'Arial', san-serif;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice a {
    color: #373a36;
    text-decoration: underline;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice a:hover {
    text-decoration: none;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .block {
    padding: 90px 25px 45px 360px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp {
    width: 780px;
    min-height: 50px;
    background: url("../img/search.svg") no-repeat 15px 15px #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    left: 360px;
    top: 15px;
    position: absolute;
    padding: 15px 45px;
    z-index: 10;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp input[type="text"] {
    color: #969595;
    font: 16px/20px 'Circe', 'Arial', san-serif;
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper {
    width: 100%;
    color: #969595;
    font: 16px/20px 'Circe', 'Arial', san-serif;
    z-index: 10;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a {
    color: #969595;
    display: block;
    margin-top: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a:hover {
    color: #fe5000;
  }
  .wrapper .block_slides_ns {
    height: 564px;
    background-size: cover;
  }
  .wrapper .block_slides_ns .inner_slider {
    width: 320px;
    height: 564px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots {
    width: 320px;
    top: 265px;
    transform: translateY(0);
    right: 0;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li {
    display: inline-block;
    width: 14px;
    margin-top: 0;
    margin-left: 10px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:first-child {
    margin-left: 0;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:before {
    font: 14px/28px 'Circe', 'Arial', san-serif;
    color: #373a36;
    background: #ffffff;
    display: none;
    padding: 0 25px;
    height: 28px;
    border-radius: 3px;
    white-space: nowrap;
    position: absolute;
    right: 86px;
    top: 50%;
    margin-top: -14px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover:before {
    display: none;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover:after {
    display: none;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover button {
    width: 14px;
    height: 14px;
    transform: scale(1);
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover button:before {
    opacity: 0;
    width: 14px;
    height: 14px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li button {
    width: 14px;
    height: 14px;
    background: #CDE1DC;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li button:before {
    width: 14px;
    height: 14px;
    background: #9CB0AF;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide {
    height: 564px;
    background: url("../img/slide_1.png") 25px bottom no-repeat;
    background-size: 310px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .title {
    width: 100%;
    top: 110px;
    font: 40px/42px 'Circe', 'Arial', san-serif;
    color: #373a36;
    text-align: center;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .descr {
    padding: 0 35px;
    width: 320px;
    top: 155px;
    text-align: center;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .btn_order {
    top: auto;
    bottom: 20px;
    left: 20px;
    width: 280px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .btn_order a {
    font: bold 13px/58px 'Circe', 'Arial', san-serif;
    color: #fff;
    background: #fe5000;
  }
  .wrapper .features_bank .inn_features {
    width: 320px;
    min-height: 280px;
    height: auto;
    padding: 20px 0;
  }
  .wrapper .features_bank .inn_features .item {
    float: none;
    position: static;
    width: 320px;
    min-height: 75px;
    margin-top: 7px;
  }
  .wrapper .features_bank .inn_features .item:first-child {
    margin-top: 0;
  }
  .wrapper .features_bank .inn_features .item:hover.distance a.big:before {
    background: url("../img/orange_distance.svg") no-repeat;
    background-size: 100%;
  }
  .wrapper .features_bank .inn_features .item:hover.payment a.big:before {
    background: url("../img/orange_payment.svg") no-repeat;
    background-size: 100%;
  }
  .wrapper .features_bank .inn_features .item:hover.translation a.big:before {
    background: url("../img/orange_translation.svg") no-repeat;
    background-size: 100%;
  }
  .wrapper .features_bank .inn_features .item:hover a.big {
    min-height: 75px;
    max-height: 75px;
    color: #373a36;
    background: #fff;
    padding: 15px 65px 15px 80px;
    font: 18px/22px 'Circe', 'Arial', san-serif;
  }
  .wrapper .features_bank .inn_features .item:hover a.big:before {
    top: 15px;
    left: 15px;
    width: 44px;
    height: 44px;
  }
  .wrapper .features_bank .inn_features .item:hover .block {
    display: none;
  }
  .wrapper .features_bank .inn_features .item.active.distance a.big:before {
    background: url("../img/white_distance.svg") no-repeat;
    background-size: 100%;
  }
  .wrapper .features_bank .inn_features .item.active.payment a.big:before {
    background: url("../img/white_payment.svg") no-repeat;
    background-size: 100%;
  }
  .wrapper .features_bank .inn_features .item.active.translation a.big:before {
    background: url("../img/white_translation.svg") no-repeat;
    background-size: 100%;
  }
  .wrapper .features_bank .inn_features .item.active a.big {
    min-height: 75px;
    max-height: 75px;
    color: #fff;
    background: #fe5000;
    padding: 15px 65px 15px 80px;
    font: 18px/22px 'Circe', 'Arial', san-serif;
  }
  .wrapper .features_bank .inn_features .item.active a.big:before {
    top: 15px;
    left: 15px;
    width: 44px;
    height: 44px;
  }
  .wrapper .features_bank .inn_features .item.active a.big:after {
    background: url("../img/feat_after_white.png") no-repeat;
  }
  .wrapper .features_bank .inn_features .item.active .block {
    display: block;
    padding: 10px 15px 20px 80px;
  }
  .wrapper .features_bank .inn_features .item.active .block span a {
    font: 16px/26px 'Circe', 'Arial', san-serif;
  }
  .wrapper .features_bank .inn_features .item.payment {
    bottom: 55px;
    left: 255px;
  }
  .wrapper .features_bank .inn_features .item.translation {
    bottom: 55px;
    left: 510px;
  }
  .wrapper .features_bank .inn_features .item a.big {
    min-height: 75px;
    max-height: 75px;
    padding: 15px 65px 15px 80px;
    font: 18px/22px 'Circe', 'Arial', san-serif;
  }
  .wrapper .features_bank .inn_features .item a.big:before {
    top: 15px;
    left: 15px;
    width: 44px;
    height: 44px;
  }
  .wrapper .features_bank .inn_features .item a.big:after {
    position: absolute;
    display: block;
    top: 24px;
    right: 18px;
    width: 33px;
    height: 33px;
    background: url("../img/feat_after.png") no-repeat;
    content: '';
  }
  .wrapper .products_bank {
    width: 320px;
  }
  .wrapper .products_bank .title {
    font: 28px/30px 'Circe', 'Arial', san-serif;
  }
  .wrapper .products_bank .sub_title {
    margin-bottom: 25px;
    font: 18px/26px 'Circe', 'Arial', san-serif;
  }
  .wrapper .products_bank .prod_block {
    width: 320px;
  }
  .wrapper .products_bank .prod_block.slick-slider .slick-list {
    overflow: visible;
  }
  .wrapper .products_bank .prod_block .big_item .item {
    width: 290px;
  }
  .wrapper .products_bank .prod_block .big_item .item .img {
    height: 145px;
  }
}
