html.ops html {
  position: relative;
}
html.ops .div_ops {
  display: block;
}
.div_ops {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.wrapper {
  overflow: hidden;
  position: relative;
}
.wrapper a {
  outline: none;
  text-decoration: none;
}
.wrapper header.new_style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.wrapper header.new_style.active {
  background: #fff;
}
.wrapper header.new_style.new_style_main {
  position: absolute;
}
.wrapper header.new_style .inner {
  width: 1220px;
  margin: 0 auto;
}
.wrapper header.new_style .inner .top_lin {
  position: relative;
  background: none;
  height: 90px;
  border-bottom: 2px solid #AECAC9;
}
.wrapper header.new_style .inner .top_lin:before {
  position: absolute;
  display: block;
  bottom: -2px;
  right: 100%;
  width: 1000px;
  height: 2px;
  background: #AECAC9;
  content: '';
}
.wrapper header.new_style .inner .top_lin:after {
  position: absolute;
  display: block;
  bottom: -2px;
  left: 100%;
  width: 1000px;
  height: 2px;
  background: #AECAC9;
  content: '';
}
.wrapper header.new_style .inner .top_lin .logo {
  position: absolute;
  top: 16px;
  left: 0;
  width: 226px;
  height: 49px;
}
.wrapper header.new_style .inner .top_lin .logo a {
  display: block;
  background: url("../img/logo.svg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
.wrapper header.new_style .inner .top_lin .top_menu {
  position: absolute;
  top: 30px;
  right: 235px;
}
.wrapper header.new_style .inner .top_lin .top_menu .item {
  position: relative;
  float: left;
  margin-left: 30px;
}
.wrapper header.new_style .inner .top_lin .top_menu .item:first-child {
  margin-left: 0;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.city {
  padding-right: 12px;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.city a {
  position: relative;
  border-bottom: 1px dotted #373a36;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.city a:after {
  display: block;
  position: absolute;
  top: 9px;
  right: -12px;
  width: 8px;
  height: 4px;
  content: '';
  border-top: 4px solid #373a36;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.otdel a {
  border-bottom: 1px solid #373a36;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.communic a {
  position: relative;
  font: 11px/16px 'Circe', 'Arial', san-serif;
  text-transform: uppercase;
  padding: 0 12px 0 15px;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.communic a:before {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  background: url("../img/phone.svg") no-repeat;
  background-size: 100%;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.communic a:after {
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  width: 8px;
  height: 4px;
  content: '';
  border-top: 4px solid #373a36;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.active.communic a {
  color: #3B8B94;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.active.communic a:after {
  top: 6px;
  border-top: none;
  border-bottom: 4px solid #3B8B94;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.wrapper header.new_style .inner .top_lin .top_menu .item.active.communic .block {
  display: block;
}
.wrapper header.new_style .inner .top_lin .top_menu .item a {
  font: 14px/16px 'Circe', 'Arial', san-serif;
  color: #373a36;
}
.wrapper header.new_style .inner .top_lin .top_menu .item a:hover {
  border-bottom: none;
  text-decoration: none;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background: #fff;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.12);
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block:before {
  position: absolute;
  display: block;
  top: -10px;
  left: 50%;
  margin-left: -7px;
  width: 15px;
  height: 10px;
  content: '';
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  z-index: 9;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block a.close_block {
  position: absolute;
  display: block;
  width: 29px;
  height: 29px;
  top: 8px;
  right: 8px;
  background: url("../img/close_block.png") no-repeat;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block a.close_block:before {
  display: none;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block a.close_block:after {
  display: none;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .phons {
  padding: 30px 40px 20px;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .phons .sub_item {
  margin-top: 15px;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .phons .sub_item:first-child {
  margin-top: 0;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .phons .sub_item a {
  display: block;
  padding: 0;
  font: 22px/30px 'Circe', 'Arial', san-serif;
  color: #373a36;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .phons .sub_item a:before {
  display: none;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .phons .sub_item a:after {
  display: none;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .phons .sub_item span {
  display: block;
  font: 14px/20px 'Circe', 'Arial', san-serif;
  font-weight: 100;
  color: #a6a6a6;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .message {
  padding: 15px 40px 20px;
  border-top: 1px solid #E1E1E1;
  background: #F5F6F6;
  border-radius: 0 0 10px 10px;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .message a {
  position: relative;
  font: 15px/20px 'Circe', 'Arial', san-serif;
  color: #fe5000;
  text-transform: none;
  padding-left: 25px;
  text-decoration: underline;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .message a:hover {
  text-decoration: none;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .message a:before {
  top: 5px;
  width: 15px;
  height: 10px;
  background: url("../img/message.png") no-repeat;
}
.wrapper header.new_style .inner .top_lin .top_menu .item .block .message a:after {
  display: none;
}
.wrapper header.new_style .inner .top_lin .internet_bank {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 175px;
  height: 45px;
  border-radius: 5px;
  overflow: hidden;
}
.wrapper header.new_style .inner .top_lin .internet_bank:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
}
.wrapper header.new_style .inner .top_lin .internet_bank a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 22px;
  padding-top: 5px;
  font: 11px/40px 'Circe', 'Arial', san-serif;
  color: #fff;
  text-transform: uppercase;
  background: #fe5000;
  text-align: center;
  text-decoration: none;
}
.wrapper header.new_style .inner .top_lin .internet_bank a:before {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -7px;
  left: 30px;
  width: 15px;
  height: 15px;
  content: '';
  background: url("../img/internet_bank.svg") no-repeat;
  background-size: 100%;
}
.wrapper header.new_style .inner .top_lin .dop_menu {
  position: absolute;
  top: 22px;
  right: 0;
}
.wrapper header.new_style .inner .top_lin .dop_menu a.main {
  display: block;
  width: 23px;
  height: 15px;
}
.wrapper header.new_style .inner .top_lin .dop_menu a.main span {
  display: block;
  height: 3px;
  width: 23px;
  background: #373a36;
  border-radius: 3px;
  margin-top: 3px;
}
.wrapper header.new_style .inner .top_lin .dop_menu a.main span:first-child {
  margin-top: 0;
}
.wrapper header.new_style .inner .top_lin .search {
  position: absolute;
  top: 45px;
  right: 0;
  width: 18px;
  height: 18px;
}
.wrapper header.new_style .inner .top_lin .search.active {
  right: auto;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.wrapper header.new_style .inner .top_lin .search.active a.srch {
  position: relative;
  z-index: 7;
}
.wrapper header.new_style .inner .top_lin .search.active .block {
  display: block;
}
.wrapper header.new_style .inner .top_lin .search.active .grey_fon {
  display: block;
}
.wrapper header.new_style .inner .top_lin .search a.srch {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/search.svg") no-repeat;
  background-size: 100%;
}
.wrapper header.new_style .inner .top_lin .search .block {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background: #fff;
  z-index: 6;
}
.wrapper header.new_style .inner .top_lin .search .block .inn_block {
  position: relative;
  height: 100%;
  width: 1220px;
  margin: 0 auto;
}
.wrapper header.new_style .inner .top_lin .search .block .inn_block input[type='text'] {
  display: block;
  width: 100%;
  height: 100%;
  font: 17px/30px 'Circe', 'Arial', san-serif;
  color: #373a36;
  padding: 30px 35px;
  border: none;
  outline: none;
}
.wrapper header.new_style .inner .top_lin .search .block .inn_block input[type='submit'] {
  display: none;
}
.wrapper header.new_style .inner .top_lin .search .block .inn_block a.close_search {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  content: '';
  background: url("../img/close_search.png") no-repeat;
  background-size: 100%;
}
.wrapper header.new_style .inner .top_lin .search .grey_fon {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.wrapper header.new_style .inner .top_lin .lk_btn {
  display: none;
  position: absolute;
  top: 18px;
  right: 80px;
}
.wrapper header.new_style .inner .top_lin .lk_btn a {
  display: block;
  width: 19px;
  height: 19px;
  background: url("../img/lk.png") no-repeat;
}
.wrapper header.new_style .inner .mid_lin .main_menu {
  position: relative;
  float: left;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item {
  float: left;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item:hover a.main {
  color: #fe5000;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item:hover a.main:after {
  background: url("../img/arr_menu_orange.png") no-repeat;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item.active a.main {
  background: #F1F4F5;
  color: #fe5000;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item.active a.main:after {
  background: url("../img/arr_menu_orange.png") no-repeat;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item.active .block {
  display: block;
  background: #F1F4F5;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item.active .block:before {
  background: #F1F4F5;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item.active .block:after {
  background: #F1F4F5;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item a.main {
  display: block;
  height: 100%;
  position: relative;
  font: 17px/57px 'Circe', 'Arial', san-serif;
  color: #373a36;
  padding: 0 40px 0 20px;
  text-decoration: none;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item a.main:after {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -2px;
  right: 25px;
  width: 8px;
  height: 5px;
  content: '';
  background: url("../img/arr_menu.png") no-repeat;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block {
  display: none;
  position: absolute;
  left: 0;
  width: 1220px;
  padding: 60px 0 65px;
  background: #fff;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block:before {
  position: absolute;
  display: block;
  top: 0;
  right: 100%;
  width: 2000px;
  height: 100%;
  content: '';
  background: #fff;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block:after {
  position: absolute;
  display: block;
  top: 0;
  left: 100%;
  width: 2000px;
  height: 100%;
  content: '';
  background: #fff;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item {
  float: left;
  width: 280px;
  min-height: 215px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #d7d7d7;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item:first-child {
  margin-left: 0;
  border-left: none;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell {
  margin-top: 20px;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell:first-child {
  margin-top: 0;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell a.sub_main {
  display: block;
  font: bold 17px/20px 'Circe', 'Arial', san-serif;
  color: #373a36;
  margin-bottom: 15px;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell a.sub_main:hover {
  text-decoration: underline;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span {
  display: block;
  margin-top: 10px;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span:first-child {
  margin-top: 0;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span a {
  display: inline-block;
  font: 16px/20px 'Circe', 'Arial', san-serif;
  color: #373a36;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block span a:hover {
  color: #fe5000;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_block .txt {
  font: 15px/20px 'Circe', 'Arial', san-serif;
  color: #373a36;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .title {
  font: bold 12px/18px 'Circe', 'Arial', san-serif;
  color: #373a36;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 194px;
  height: 122px;
  border-radius: 10px;
  border: 1px solid #D0DDDD;
  overflow: hidden;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img.int_bank {
  width: 210px;
  height: 120px;
  border: none;
  border-radius: 0;
  overflow: visible;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img a {
  display: block;
  width: 100%;
  height: 100%;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .img a img {
  width: 100%;
  height: 100%;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .butn {
  margin: 0 auto;
  width: 194px;
  height: 46px;
  text-align: center;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .butn input[type='submit'] {
  width: 100%;
  border: 2px solid #fe5000;
  border-radius: 5px;
  font: 12px/46px 'Circe', 'Arial', san-serif;
  color: #fe5000;
  text-transform: uppercase;
  background: none;
}
.wrapper header.new_style .inner .mid_lin .main_menu .item .block .sub_item .cell .sub_item_cards .butn input[type='submit']:hover {
  background: #fe5000;
  color: #fff;
}
.wrapper header.new_style .inner .mid_lin .client_menu {
  float: right;
}
.wrapper header.new_style .inner .mid_lin .client_menu .item {
  float: left;
  margin-left: 15px;
}
.wrapper header.new_style .inner .mid_lin .client_menu .item:first-child {
  margin-left: 0;
}
.wrapper header.new_style .inner .mid_lin .client_menu .item:first-child a {
  padding-left: 0;
}
.wrapper header.new_style .inner .mid_lin .client_menu .item:first-child a:before {
  display: none;
}
.wrapper header.new_style .inner .mid_lin .client_menu .item a {
  position: relative;
  font: 12px/57px 'Circe', 'Arial', san-serif;
  color: #373a36;
  text-transform: uppercase;
  padding-left: 17px;
}
.wrapper header.new_style .inner .mid_lin .client_menu .item a:hover {
  text-decoration: none;
}
.wrapper header.new_style .inner .mid_lin .client_menu .item a:before {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -5px;
  left: 0;
  width: 1px;
  height: 10px;
  background: #93ADA6;
  content: '';
}
.wrapper header.new_style .inner .mid_lin .client_menu .item a.active {
  color: #fe5000;
}
.wrapper header.new_style .inner #city.act {
  z-index: 99;
  position: relative;
  background: #fff;
}
.wrapper header.new_style .inner #city.act:before {
  position: absolute;
  height: 100%;
  width: 1920px;
  background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
  left: 50%;
  margin-left: -960px;
  content: '';
  top: 0;
}
.wrapper header.new_style .inner #city.act:after {
  position: absolute;
  height: 3000px;
  width: 1920px;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  margin-left: -960px;
  content: '';
  top: 100%;
}
.wrapper header.new_style .inner .pan_reg_chosen {
  z-index: 100;
  position: relative;
  display: block;
}
.wrapper header.new_style .inner .pan_reg_chosen .close_city {
  top: 30px;
  width: 22px;
  height: 22px;
  background: url('../img/close_search.png') no-repeat 50% 50%;
}
.wrapper header.new_style .inner .pan_reg_chosen .close_city:hover {
  background: url('../img/close_search.png') no-repeat 50% 50%;
  opacity: 0.85;
}
.wrapper header.new_style .inner .pan_reg_chosen .logo {
  top: 15px;
}
.wrapper header.new_style .inner .pan_reg_chosen .allregs {
  float: none;
  position: absolute;
  left: 0;
  top: 95px;
}
.wrapper header.new_style .inner .pan_reg_chosen .chosen_reg {
  float: none;
  font: 24px/28px 'Circe', 'Arial', san-serif;
  color: #373a36;
  margin-bottom: 15px;
}
.wrapper header.new_style .inner .pan_reg_chosen .section {
  float: left;
  width: 200px;
}
.wrapper header.new_style .inner .pan_reg_chosen .section a {
  color: #373a36;
  text-decoration: underline;
}
.wrapper header.new_style .inner .pan_reg_chosen .section a:hover {
  text-decoration: none;
}
.wrapper header.new_style .inner .pan_reg_chosen .city_choice {
  float: none;
  color: #373a36;
  font: 16px/20px 'Circe', 'Arial', san-serif;
}
.wrapper header.new_style .inner .pan_reg_chosen .city_choice a {
  color: #373a36;
  text-decoration: underline;
}
.wrapper header.new_style .inner .pan_reg_chosen .city_choice a:hover {
  text-decoration: none;
}
.wrapper header.new_style .inner .pan_reg_chosen .block {
  padding: 90px 25px 45px 360px;
}
.wrapper header.new_style .inner .pan_reg_chosen .inp {
  width: 780px;
  min-height: 50px;
  background: url("../img/search.svg") no-repeat 15px 15px #ffffff;
  border-radius: 3px;
  border: 1px solid #cccccc;
  left: 360px;
  top: 15px;
  position: absolute;
  padding: 15px 45px;
  z-index: 10;
}
.wrapper header.new_style .inner .pan_reg_chosen .inp input[type="text"] {
  color: #969595;
  font: 16px/20px 'Circe', 'Arial', san-serif;
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
}
.wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper {
  width: 100%;
  color: #969595;
  font: 16px/20px 'Circe', 'Arial', san-serif;
  z-index: 10;
}
.wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a {
  color: #969595;
  display: block;
  margin-top: 15px;
}
.wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a:hover {
  color: #fe5000;
}
.wrapper .block_slides_ns {
  background: url("../img/bg_top_slider.jpg") 50% 50% no-repeat;
  height: 570px;
  background-size: cover;
}
.wrapper .block_slides_ns .inner_slider {
  width: 1220px;
  margin: 0 auto;
  height: 550px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl {
  position: relative;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 0;
  padding: 0;
  margin: 0;
  font: 0/0 'Circe', 'Arial', san-serif;
  text-align: center;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li {
  position: relative;
  width: 66px;
  list-style: none;
  margin-top: 20px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:first-child {
  margin-top: 0;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li.slick-active button:before {
  background: #fe5000;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:before {
  font: 14px/28px 'Circe', 'Arial', san-serif;
  color: #373a36;
  background: #ffffff;
  display: none;
  padding: 0 25px;
  height: 28px;
  border-radius: 3px;
  white-space: nowrap;
  position: absolute;
  right: 86px;
  top: 50%;
  margin-top: -14px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:after {
  content: '';
  display: none;
  right: 100%;
  position: absolute;
  border: 5px solid transparent;
  border-left: 6px solid #ffffff;
  width: 20px;
  top: 50%;
  margin-top: -5px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover:before {
  display: block;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover:after {
  display: block;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover button {
  width: 66px;
  height: 66px;
  transform: scale(110%);
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li:hover button:before {
  opacity: 0;
  width: 66px;
  height: 66px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li button {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: url("../img/slider_3.png") center center no-repeat;
  background-size: 100%;
  outline: none;
  transform: scale(1);
  transition: all 0.5s linear;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li button:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: '';
  background: #CDE1DC;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.5s linear;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li .name_slide {
  position: relative;
  display: inline-block;
  background: #fff;
  height: 27px;
  font: 14px/27px 'Circe', 'Arial', san-serif;
  color: #373a36;
  border-radius: 4px;
  padding: 0 25px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots li .name_slide:after {
  position: absolute;
  display: block;
  top: 6px;
  right: -6px;
  width: 5px;
  height: 10px;
  content: '';
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.wrapper .block_slides_ns .inner_slider .inn_sl .slide {
  position: relative;
  height: 550px;
  background: url("../img/slide_1.png") 490px bottom no-repeat;
}
.wrapper .block_slides_ns .inner_slider .inn_sl .slide.banner_4,
.wrapper .block_slides_ns .inner_slider .inn_sl .slide.banner_9 {
  background-size: auto 400px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl .slide .title {
  position: absolute;
  top: 210px;
  left: 0;
  font: 60px/64px 'Circe', 'Arial', san-serif;
  color: #fff;
}
.wrapper .block_slides_ns .inner_slider .inn_sl .slide .descr {
  position: absolute;
  top: 280px;
  left: 0;
  font: 18px/24px 'Circe', 'Arial', san-serif;
  color: #373a36;
}
.wrapper .block_slides_ns .inner_slider .inn_sl .slide .btn_order {
  position: absolute;
  top: 350px;
  left: 0;
  width: 190px;
  height: 58px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl .slide .btn_order a {
  display: block;
  width: 100%;
  height: 100%;
  font: bold 12px/58px 'Circe', 'Arial', san-serif;
  color: #fe5000;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
  border: 2px solid #fe5000;
  border-radius: 5px;
}
.wrapper .block_slides_ns .inner_slider .inn_sl .slide .btn_order a:hover {
  text-decoration: none;
  color: #fff;
  background: #fe5000;
}
.wrapper .features_bank {
  background: #F6F6F6;
  box-shadow: inset 0 23px 26px 0 rgba(0, 0, 0, 0.18);
}
.wrapper .features_bank .inn_features {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  height: 180px;
  padding: 0 155px;
}
.wrapper .features_bank .inn_features .item {
  float: left;
  position: absolute;
  bottom: 60px;
  left: 155px;
  width: 285px;
  min-height: 150px;
}
.wrapper .features_bank .inn_features .item:hover {
  height: auto;
}
.wrapper .features_bank .inn_features .item:hover.distance a.big:before {
  background: url("../img/white_distance.svg") no-repeat;
  background-size: 100%;
}
.wrapper .features_bank .inn_features .item:hover.payment a.big:before {
  background: url("../img/white_payment.svg") no-repeat;
  background-size: 100%;
}
.wrapper .features_bank .inn_features .item:hover.translation a.big:before {
  background: url("../img/white_translation.svg") no-repeat;
  background-size: 100%;
}
.wrapper .features_bank .inn_features .item:hover a.big {
  min-height: 100px;
  max-height: 100px;
  color: #fff;
  background: #fe5000;
  border-radius: 10px 10px 0 0;
  padding: 20px 30px 20px 105px;
}
.wrapper .features_bank .inn_features .item:hover a.big:before {
  top: 20px;
}
.wrapper .features_bank .inn_features .item:hover .block {
  display: block;
}
.wrapper .features_bank .inn_features .item.distance a.big:before {
  background: url("../img/orange_distance.svg") no-repeat;
  background-size: 100%;
}
.wrapper .features_bank .inn_features .item.payment {
  bottom: 60px;
  left: 465px;
}
.wrapper .features_bank .inn_features .item.payment a.big:before {
  background: url("../img/orange_payment.svg") no-repeat;
  background-size: 100%;
}
.wrapper .features_bank .inn_features .item.translation {
  bottom: 60px;
  left: 775px;
}
.wrapper .features_bank .inn_features .item.translation a.big:before {
  background: url("../img/orange_translation.svg") no-repeat;
  background-size: 100%;
}
.wrapper .features_bank .inn_features .item a.big {
  position: relative;
  display: block;
  min-height: 150px;
  max-height: 150px;
  border-radius: 10px;
  padding: 46px 30px 46px 105px;
  font: 20px/26px 'Circe', 'Arial', san-serif;
  color: #373a36;
  text-decoration: none;
  background: #fff;
}
.wrapper .features_bank .inn_features .item a.big:hover {
  text-decoration: none;
}
.wrapper .features_bank .inn_features .item a.big:before {
  position: absolute;
  display: block;
  top: 46px;
  left: 30px;
  width: 57px;
  height: 57px;
  content: '';
}
.wrapper .features_bank .inn_features .item .block {
  display: none;
  background: #fff;
  padding: 15px 30px 20px;
  border-radius: 0 0 10px 10px;
}
.wrapper .features_bank .inn_features .item .block span {
  display: block;
  margin-top: 5px;
}
.wrapper .features_bank .inn_features .item .block span:first-child {
  margin-top: 0;
}
.wrapper .features_bank .inn_features .item .block span a {
  font: 16px/28px 'Circe', 'Arial', san-serif;
  color: #373a36;
}
.wrapper .features_bank .inn_features .item .block span a:hover {
  text-decoration: none;
  color: #fe5000;
}
.wrapper .products_bank {
  width: 1220px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 35px;
  text-align: center;
}
.wrapper .products_bank .title {
  margin-bottom: 5px;
  font: 30px/34px 'Circe', 'Arial', sans-serif;
  color: #373a36;
}
.wrapper .products_bank .sub_title {
  margin-bottom: 35px;
  font: 20px/26px 'Circe', 'Arial', sans-serif;
  color: #6e6e6e;
}
.wrapper .products_bank .prod_block {
  font: 0/0 'Circe', 'Arial', san-serif;
  text-align: center;
}
.wrapper .products_bank .prod_block .big_item {
  display: inline-block;
  margin-left: 20px;
  width: 290px;
}
.wrapper .products_bank .prod_block .big_item:first-child {
  margin-left: 0;
}
.wrapper .products_bank .prod_block .big_item .item .img {
  height: 145px;
  margin-bottom: 15px;
}
.wrapper .products_bank .prod_block .big_item .item .img a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.wrapper .products_bank .prod_block .big_item .item .img a:hover img {
  width: 105%;
  height: 105%;
}
.wrapper .products_bank .prod_block .big_item .item .img a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.wrapper .products_bank .prod_block .big_item .item .descr a {
  font: 12px/22px 'Circe', 'Arial', san-serif;
  color: #414141;
  text-transform: uppercase;
}
.wrapper .products_bank .prod_block .big_item .item .descr a:hover {
  text-decoration: none;
}
.wrapper .products_bank .prod_block .big_item .item .descr a span {
  display: block;
  font: 13px/26px 'Circe', 'Arial', san-serif;
  color: #000;
}
select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}
.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
  z-index: 1;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999999;
}
.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
}
.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2;
}
.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.bootstrap-select.form-control.input-group-btn {
  z-index: auto;
}
.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group.bs-container {
  position: absolute;
  height: 0 !important;
  padding: 0 !important;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu {
  z-index: 1060;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
  color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
  user-select: none;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}
.bs-actionsbox {
  width: 100%;
  box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}
.bs-donebutton {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.bs-donebutton .btn-group button {
  width: 100%;
}
.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}
