@font: 'Circe', 'Arial', san-serif;
@black: #373a36;
@orange: #FE5000;


@media (max-width: 767px) {
  .wrapper {
    header.new_style{
      .inner{
        width: 320px;
        .top_lin{
          .search{
            &.active{
              right: auto;
              left: 0;
              top: 50%;
              margin-top: -9px;
              a.srch{
                position: relative;
                z-index: 7;
              }
              .block{
                display: block;
              }
              .grey_fon{
                display: block;
              }
            }
            .block{
              height: 62px;
              .inn_block{
                width: 320px;
                input[type='text']{
                  padding: 15px 25px;
                  font: 16px/30px 'Circe', 'Arial', san-serif;
                }
                a.close_search{
                  margin-top: -9px;
                  width: 18px;
                  height: 18px;
                }
              }
            }
          }
        }
        #city{
          &.act{
            z-index: 99;
            position: relative;
            background: #fff;
            &:before {
              position: absolute;
              height: 100%;
              width: 1920px;
              background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 0;
            }
            &:after {
              position: absolute;
              height: 3000px;
              width: 1920px;
              background: rgba(0, 0, 0, 0.7);
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 100%;
            }
          }
        }
        .pan_reg_chosen{
          z-index: 100;
          position: relative;
          display: block;
          .close_city {
            top: 30px;
            width: 22px;
            height: 22px;
            background: url('../img/close_search.png') no-repeat 50% 50%;
            &:hover {
              background: url('../img/close_search.png') no-repeat 50% 50%;
              opacity: 0.85;
            }
          }
          .logo{
            top: 15px;
          }
          .allregs{
            float: none;
            position: absolute;
            left: 0;
            top: 95px;
          }
          .chosen_reg{
            float: none;
            font: 24px/28px @font;
            color:#373a36;
            margin-bottom: 15px;
          }
          .section{
            float: left;
            width: 200px;
            a{
              color: #373a36;
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .city_choice{
            float: none;
            color: #373a36;
            font: 16px/20px @font;
            a{
              color: #373a36;
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .block{
            padding: 90px 25px 45px 360px;
          }
          .inp{
            width: 780px;
            min-height: 50px;
            background: url("../img/search.svg") no-repeat 15px 15px #fff;
            border-radius: 3px;
            border:1px solid #cccccc;
            left: 360px;
            top: 15px;
            position: absolute;
            padding: 15px 45px;
            z-index: 10;

            input[type="text"]{
              color: #969595;
              font: 16px/20px @font;

              width: 100%;
              height: 100%;
              background: none;
              border:0;
            }
            .suggestions-wrapper{
              width: 100%;
              color: #969595;
              font: 16px/20px @font;
              z-index: 10;
              a{
                color: #969595;
                display: block;
                margin-top: 15px;
                &:hover{
                  color: #fe5000;
                }
              }
            }
          }
        }
      }
    }

    .block_slides_ns{
      height: 564px;
      background-size: cover;
      .inner_slider{
        width: 320px;
        height: 564px;
        .inn_sl{
          &.slick-slider{
            ul.slick-dots{
              width: 320px;
              top: 265px;
              transform: translateY(0);
              right: 0;
              li{
                display: inline-block;
                width: 14px;
                margin-top: 0;
                margin-left: 10px;
                &:first-child{
                  margin-left: 0;
                }
                &:before{
                  font: 14px/28px @font;
                  color: #373a36;
                  background: #ffffff;
                  display: none;
                  padding: 0 25px;
                  height: 28px;
                  border-radius: 3px;
                  white-space: nowrap;
                  position: absolute;
                  right: 86px;
                  top: 50%;
                  margin-top: -14px;
                }
                &:hover{
                  &:before{
                    display: none;
                  }
                  &:after{
                    display: none;
                  }
                  button{
                    width: 14px;
                    height: 14px;
                    transform: scale(1);
                    &:before{
                      opacity: 0;
                      width: 14px;
                      height: 14px;
                    }
                  }

                }
                button{
                  width: 14px;
                  height: 14px;
                  background: #CDE1DC;
                  &:before{
                    width: 14px;
                    height: 14px;
                    background: #9CB0AF;
                  }
                }
              }
            }
          }
          .slide{
            height: 564px;
            background: url("../img/slide_1.png") 25px bottom  no-repeat;
            background-size: 310px;
            .title{
              width: 100%;
              top: 110px;
              font: 40px/42px @font;
              color: @black;
              text-align: center;
            }
            .descr{
              padding: 0 35px;
              width: 320px;
              top: 155px;
              text-align: center;
            }
            .btn_order{
              top: auto;
              bottom: 20px;
              left: 20px;
              width: 280px;
              a{
                font: bold 13px/58px @font;
                color: #fff;
                background: @orange;
              }
            }
          }
        }
      }
    }
    .features_bank{
      .inn_features{
        width: 320px;
        min-height: 280px;
        height: auto;
        padding: 20px 0;
        .item{
          float: none;
          position: static;
          width: 320px;
          min-height: 75px;
          margin-top: 7px;
          &:first-child{
            margin-top: 0;
          }
          &:hover{
            &.distance{
              a.big{
                &:before{
                  background: url("../img/orange_distance.svg") no-repeat;
                  background-size: 100%;
                }
              }
            }
            &.payment{
              a.big{
                &:before{
                  background: url("../img/orange_payment.svg") no-repeat;
                  background-size: 100%;
                }
              }
            }
            &.translation{
              a.big{
                &:before{
                  background: url("../img/orange_translation.svg") no-repeat;
                  background-size: 100%;
                }
              }
            }
            a.big{
              min-height: 75px;
              max-height: 75px;
              color: #373a36;
              background: #fff;
              padding: 15px 65px 15px 80px;
              font: 18px/22px 'Circe', 'Arial', san-serif;
              &:before{
                top: 15px;
                left: 15px;
                width: 44px;
                height: 44px;
              }
            }
            .block{
              display: none;
            }
          }
          &.active{
            &.distance{
              a.big{
                &:before{
                  background: url("../img/white_distance.svg") no-repeat;
                  background-size: 100%;
                }
              }
            }
            &.payment{
              a.big{
                &:before{
                  background: url("../img/white_payment.svg") no-repeat;
                  background-size: 100%;
                }
              }
            }
            &.translation{
              a.big{
                &:before{
                  background: url("../img/white_translation.svg") no-repeat;
                  background-size: 100%;
                }
              }
            }
            a.big{
              min-height: 75px;
              max-height: 75px;
              color: #fff;
              background: @orange;
              padding: 15px 65px 15px 80px;
              font: 18px/22px 'Circe', 'Arial', san-serif;
              &:before{
                top: 15px;
                left: 15px;
                width: 44px;
                height: 44px;
              }
              &:after{
                background: url("../img/feat_after_white.png") no-repeat;
              }
            }
            .block{
              display: block;
              padding: 10px 15px 20px 80px;
              span{
                a{
                  font: 16px/26px 'Circe', 'Arial', san-serif;
                }
              }
            }
          }
          &.payment{
            bottom: 55px;
            left: 255px;
          }
          &.translation{
            bottom: 55px;
            left: 510px;
          }
          a.big{
            min-height: 75px;
            max-height: 75px;
            padding: 15px 65px 15px 80px;
            font: 18px/22px 'Circe', 'Arial', san-serif;
            &:before{
              top: 15px;
              left: 15px;
              width: 44px;
              height: 44px;
            }
            &:after{
              position: absolute;
              display: block;
              top: 24px;
              right: 18px;
              width: 33px;
              height: 33px;
              background: url("../img/feat_after.png") no-repeat;
              content: '';
            }
          }
        }
      }
    }
    .products_bank{
      width: 320px;
      .title{
        font: 28px/30px 'Circe', 'Arial', san-serif;
      }
      .sub_title{
        margin-bottom: 25px;
        font: 18px/26px 'Circe', 'Arial', san-serif;
      }
      .prod_block{
        width: 320px;
        &.slick-slider{
          .slick-list{
            overflow: visible;
            .slick-track{
              .slick-slide{
              }
            }
          }
        }
        .big_item{
          .item{
            width: 290px;
            .img{
              height: 145px;
            }

          }
        }

      }
    }
  }
}










