@font: 'Circe', 'Arial', san-serif;
@black: #373a36;
@orange: #FE5000;


@media(max-width: 1259px){
  .wrapper {

    header.new_style{
      .inner{
        width: 980px;
        .top_lin{
          .top_menu{
            right: 210px;
          }
          .search{
            .block{
              .inn_block{
                width: 980px;
              }
            }
          }
          .internet_bank{
            width: 150px;
            a{
              &:before{
                left: 17px;
              }
            }
          }
        }
        .mid_lin{
          .main_menu{
            .item{
              &:first-child{
                a.main{
                  padding-left: 0;
                }
              }
              a.main{
                font: 16px/56px @font;
                padding: 0 20px 0 15px;
                &:after{
                  right: 5px;
                }
              }
              .block{
                display: none;
                position: absolute;
                left: 0;
                width: 1220px;
                padding: 60px 0 65px;
                background: #fff;
                &:before{
                  position: absolute;
                  display: block;
                  top: 0;
                  right: 100%;
                  width: 2000px;
                  height: 100%;
                  content: '';
                  background: #fff;
                }
                &:after{
                  position: absolute;
                  display: block;
                  top: 0;
                  left: 100%;
                  width: 2000px;
                  height: 100%;
                  content: '';
                  background: #fff;
                }
                .sub_item{
                  float: left;
                  width: 280px;
                  min-height: 215px;
                  padding-left: 20px;
                  margin-left: 20px;
                  border-left: 1px solid #d7d7d7;
                  &:first-child{
                    margin-left: 0;
                    //padding-left: 0;
                    border-left: none;
                  }
                  .cell{
                    margin-top: 20px;
                    &:first-child{
                      margin-top: 0;
                    }
                    a.sub_main{
                      display: block;
                      font: bold 17px/20px @font;
                      color: #373a36;
                      margin-bottom: 15px;
                      &:hover{
                        text-decoration: underline;
                      }
                    }
                    .sub_block{
                      span{
                        display: block;
                        margin-top: 10px;
                        &:first-child{
                          margin-top: 0;
                        }
                        a{
                          display: inline-block;
                          font: 16px/20px @font;
                          color: #373a36;
                          &:hover{
                            color: @orange;
                          }
                        }
                      }
                      .txt{
                        font: 15px/20px @font;
                        color: #373a36;
                      }
                    }
                    .sub_item_cards{
                      .title{
                        font: bold 12px/18px @font;
                        color: #373a36;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        text-align: center;
                      }
                      .img{
                        margin: 0 auto;
                        margin-bottom: 15px;
                        width: 194px;
                        height: 122px;
                        border-radius: 10px;
                        border: 1px solid #D0DDDD;
                        overflow: hidden;
                        &.int_bank{
                          width: 210px;
                          height: 120px;
                          border: none;
                          border-radius: 0;
                          overflow: visible;
                        }
                        a{
                          display: block;
                          width: 100%;
                          height: 100%;
                          img{
                            width: 100%;
                            height: 100%;
                          }
                        }
                      }
                      .butn{
                        margin: 0 auto;
                        width: 194px;
                        height: 46px;
                        text-align: center;
                        input[type='submit']{
                          width: 100%;
                          border: 2px solid @orange;
                          border-radius: 5px;
                          font: 12px/46px @font;
                          color: @orange;
                          text-transform: uppercase;
                          background: none;
                          &:hover{
                            background: @orange;
                            color: #fff;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .client_menu{
            .item{
              margin-left: 10px;
              a{
                font: 11px/56px @font;
                padding-left: 11px;
              }
            }
          }
        }
        #city{
          &.act{
            z-index: 99;
            position: relative;
            background: #fff;
            &:before {
              position: absolute;
              height: 100%;
              width: 1920px;
              background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 0;
            }
            &:after {
              position: absolute;
              height: 3000px;
              width: 1920px;
              background: rgba(0, 0, 0, 0.7);
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 100%;
            }
          }
        }
        .pan_reg_chosen{
          z-index: 100;
          position: relative;
          display: block;
          .close_city {
            top: 30px;
            width: 22px;
            height: 22px;
            background: url('../img/close_search.png') no-repeat 50% 50%;
            &:hover {
              background: url('../img/close_search.png') no-repeat 50% 50%;
              opacity: 0.85;
            }
          }
          .logo{
            top: 15px;
          }
          .allregs{
            float: none;
            position: absolute;
            left: 0;
            top: 95px;
          }
          .chosen_reg{
            float: none;
            font: 24px/28px @font;
            color:#373a36;
            margin-bottom: 15px;
          }
          .section{
            float: left;
            width: 200px;
            a{
              color: #373a36;
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .city_choice{
            float: none;
            color: #373a36;
            font: 16px/20px @font;
            a{
              color: #373a36;
              text-decoration: underline;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .block{
            padding: 90px 25px 45px 360px;
          }
          .inp{
            width: 780px;
            min-height: 50px;
            background: url("../img/search.svg") no-repeat 15px 15px #fff;
            border-radius: 3px;
            border:1px solid #cccccc;
            left: 360px;
            top: 15px;
            position: absolute;
            padding: 15px 45px;
            z-index: 10;

            input[type="text"]{
              color: #969595;
              font: 16px/20px @font;

              width: 100%;
              height: 100%;
              background: none;
              border:0;
            }
            .suggestions-wrapper{
              width: 100%;
              color: #969595;
              font: 16px/20px @font;
              z-index: 10;
              a{
                color: #969595;
                display: block;
                margin-top: 15px;
                &:hover{
                  color: #fe5000;
                }
              }
            }
          }
        }
      }
    }

    .block_slides_ns{
      height: 570px;
      background-size: cover;
      .inner_slider{
        width: 980px;
        height: 570px;
        .inn_sl{
          .slide{
            background: url("../img/slide_1.png") 440px bottom  no-repeat;
          }
        }
      }
    }
    .features_bank{
      .inn_features{
        width: 980px;
        padding: 0 40px;
        .item{
          left: 40px;
          &.payment{
            left: 350px;
          }
          &.translation{
            left: 660px;
          }
        }
      }
    }
    .products_bank{
      width: 980px;
      margin: 0 auto;
      margin-bottom: 50px;//
      .prod_block{
        .big_item{
          width: 230px;
          .item{
            .img{
              height: 130px;
            }
            .descr{
              a{
                font: 11px/18px 'Circe', 'Arial', san-serif;
                span{
                  font: 12px/26px 'Circe', 'Arial', san-serif;
                }
              }
            }
          }
        }
      }
    }
  }
}






