@media (max-width: 989px) {
  .wrapper header.new_style .inner {
    width: 740px;
  }
  .wrapper header.new_style .inner .top_lin {
    height: 62px;
  }
  .wrapper header.new_style .inner .top_lin .logo {
    top: 10px;
    width: 180px;
    height: 39px;
  }
  .wrapper header.new_style .inner .top_lin .top_menu {
    display: none;
  }
  .wrapper header.new_style .inner .top_lin .internet_bank {
    display: none;
  }
  .wrapper header.new_style .inner .top_lin .dop_menu {
    top: 20px;
  }
  .wrapper header.new_style .inner .top_lin .dop_menu a.main {
    width: 27px;
    height: 18px;
  }
  .wrapper header.new_style .inner .top_lin .dop_menu a.main span {
    height: 3px;
    width: 27px;
    margin-top: 4px;
  }
  .wrapper header.new_style .inner .top_lin .search {
    top: 18px;
    right: 45px;
  }
  .wrapper header.new_style .inner .top_lin .search .block {
    height: 62px;
  }
  .wrapper header.new_style .inner .top_lin .search .block .inn_block {
    width: 740px;
  }
  .wrapper header.new_style .inner .top_lin .search .block .inn_block input[type='text'] {
    padding: 15px 35px;
  }
  .wrapper header.new_style .inner .top_lin .lk_btn {
    display: block;
  }
  .wrapper header.new_style .inner .mid_lin {
    display: none;
  }
  .wrapper header.new_style .inner #city.act {
    z-index: 99;
    position: relative;
    background: #fff;
  }
  .wrapper header.new_style .inner #city.act:before {
    position: absolute;
    height: 100%;
    width: 1920px;
    background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
    left: 50%;
    margin-left: -960px;
    content: '';
    top: 0;
  }
  .wrapper header.new_style .inner #city.act:after {
    position: absolute;
    height: 3000px;
    width: 1920px;
    background: rgba(0, 0, 0, 0.7);
    left: 50%;
    margin-left: -960px;
    content: '';
    top: 100%;
  }
  .wrapper header.new_style .inner .pan_reg_chosen {
    z-index: 100;
    position: relative;
    display: block;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .close_city {
    top: 30px;
    width: 22px;
    height: 22px;
    background: url('../img/close_search.png') no-repeat 50% 50%;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .close_city:hover {
    background: url('../img/close_search.png') no-repeat 50% 50%;
    opacity: 0.85;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .logo {
    top: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .allregs {
    float: none;
    position: absolute;
    left: 0;
    top: 95px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .chosen_reg {
    float: none;
    font: 24px/28px 'Circe', 'Arial', san-serif;
    color: #373a36;
    margin-bottom: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section {
    float: left;
    width: 200px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section a {
    color: #373a36;
    text-decoration: underline;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .section a:hover {
    text-decoration: none;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice {
    float: none;
    color: #373a36;
    font: 16px/20px 'Circe', 'Arial', san-serif;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice a {
    color: #373a36;
    text-decoration: underline;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .city_choice a:hover {
    text-decoration: none;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .block {
    padding: 90px 25px 45px 360px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp {
    width: 780px;
    min-height: 50px;
    background: url("../img/search.svg") no-repeat 15px 15px #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    left: 360px;
    top: 15px;
    position: absolute;
    padding: 15px 45px;
    z-index: 10;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp input[type="text"] {
    color: #969595;
    font: 16px/20px 'Circe', 'Arial', san-serif;
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper {
    width: 100%;
    color: #969595;
    font: 16px/20px 'Circe', 'Arial', san-serif;
    z-index: 10;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a {
    color: #969595;
    display: block;
    margin-top: 15px;
  }
  .wrapper header.new_style .inner .pan_reg_chosen .inp .suggestions-wrapper a:hover {
    color: #fe5000;
  }
  .wrapper .block_slides_ns {
    height: 440px;
    background-size: cover;
  }
  .wrapper .block_slides_ns .inner_slider {
    width: 740px;
    height: 440px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl.slick-slider ul.slick-dots {
    right: -20px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide {
    height: 440px;
    background: url("../img/slide_1.png") 325px bottom no-repeat;
    background-size: 360px;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .title {
    top: 130px;
    font: 40px/42px 'Circe', 'Arial', san-serif;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .descr {
    width: 255px;
    top: 180px;
    font: 16px/22px 'Circe', 'Arial', san-serif;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .descr br {
    display: none;
  }
  .wrapper .block_slides_ns .inner_slider .inn_sl .slide .btn_order {
    top: 270px;
  }
  .wrapper .features_bank .inn_features {
    width: 740px;
    height: 160px;
    padding: 0;
  }
  .wrapper .features_bank .inn_features .item {
    bottom: 55px;
    left: 0;
    width: 235px;
    min-height: 120px;
  }
  .wrapper .features_bank .inn_features .item:hover a.big {
    min-height: 90px;
    max-height: 90px;
    border-radius: 5px 5px 0 0;
    padding: 20px 20px 20px 90px;
  }
  .wrapper .features_bank .inn_features .item:hover a.big:before {
    top: 20px;
  }
  .wrapper .features_bank .inn_features .item:hover .block {
    display: block;
  }
  .wrapper .features_bank .inn_features .item.payment {
    bottom: 55px;
    left: 255px;
  }
  .wrapper .features_bank .inn_features .item.translation {
    bottom: 55px;
    left: 510px;
  }
  .wrapper .features_bank .inn_features .item a.big {
    min-height: 120px;
    max-height: 120px;
    border-radius: 5px;
    padding: 35px 20px 30px 85px;
    font: 16px/22px 'Circe', 'Arial', san-serif;
  }
  .wrapper .features_bank .inn_features .item a.big:before {
    top: 35px;
    left: 25px;
    width: 48px;
    height: 48px;
  }
  .wrapper .features_bank .inn_features .item .block {
    padding: 20px 20px 20px 20px;
    border-radius: 0 0 5px 5px;
  }
  .wrapper .features_bank .inn_features .item .block span {
    margin-top: 0;
  }
  .wrapper .features_bank .inn_features .item .block span a {
    font: 14px/26px 'Circe', 'Arial', san-serif;
  }
  .wrapper .products_bank {
    width: 740px;
  }
  .wrapper .products_bank .prod_block .big_item {
    width: auto;
    margin-left: 0;
  }
  .wrapper .products_bank .prod_block .big_item .item {
    width: 230px;
    margin: 0 auto;
  }
}
