@font: 'Circe', 'Arial', san-serif;
@black: #373a36;
@orange: #FE5000;


html{
  &.ops{
    html{
      position: relative;
    }
    .div_ops{
      display: block;
    }
  }
}
.div_ops{
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.wrapper {
  overflow: hidden;
  position: relative;
  a{
    outline: none;
    text-decoration: none;
  }


  header.new_style{
    position: absolute;//
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    &.active{
      background: #fff;
    }
    &.new_style_main{
     position: absolute;
    }
    .inner{
      width: 1220px;
      margin: 0 auto;
      .top_lin{
        position: relative;
        background: none;
        height: 90px;
        border-bottom: 2px solid #AECAC9;
        &:before{
          position: absolute;
          display: block;
          bottom: -2px;
          right: 100%;
          width: 1000px;
          height: 2px;
          background: #AECAC9;
          content: '';
        }
        &:after{
          position: absolute;
          display: block;
          bottom: -2px;
          left: 100%;
          width: 1000px;
          height: 2px;
          background: #AECAC9;
          content: '';
        }
        .logo{
          position: absolute;
          top: 16px;
          left: 0;
          width: 226px;
          height: 49px;
          a{
            display: block;
            background: url("../img/logo.svg") no-repeat;
            background-size: 100%;
            width: 100%;
            height: 100%;
          }
        }
        .top_menu{
          position: absolute;
          top: 30px;
          right: 235px;
          .item{
            position: relative;
            float: left;
            margin-left: 30px;
            &:first-child{
              margin-left: 0;
            }
            &.city{
              padding-right: 12px;
              a{
                position: relative;
                border-bottom: 1px dotted @black;
                &:after{
                  display: block;
                  position: absolute;
                  top: 9px;
                  right: -12px;
                  width: 8px;
                  height: 4px;
                  content: '';
                  border-top: 4px solid @black;
                  border-right: 4px solid transparent;
                  border-left: 4px solid transparent;
                }
              }
            }
            &.otdel{
              a{
                border-bottom: 1px solid @black;
              }
            }
            &.communic{
              a{
                position: relative;
                font: 11px/16px @font;
                text-transform: uppercase;
                padding: 0 12px 0 15px;
                &:before{
                  display: block;
                  position: absolute;
                  top: 2px;
                  left: 0;
                  width: 12px;
                  height: 12px;
                  content: '';
                  background: url("../img/phone.svg") no-repeat;
                  background-size: 100%;
                }
                &:after{
                  display: block;
                  position: absolute;
                  top: 6px;
                  right: 0;
                  width: 8px;
                  height: 4px;
                  content: '';
                  border-top: 4px solid @black;
                  border-right: 4px solid transparent;
                  border-left: 4px solid transparent;
                }
              }
            }
            &.active{
              &.communic{
                a{
                  color: #3B8B94;
                  &:after{
                    top: 6px;
                    border-top: none;
                    border-bottom: 4px solid #3B8B94;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                  }
                }
                .block{
                  display: block;
                }
              }
            }
            a{
              font: 14px/16px @font;
              color: @black;
              &:hover{
                border-bottom: none;
                text-decoration: none;
              }
            }
            .block{
              display: none;
              position: absolute;
              top: 40px;
              left: 50%;
              margin-left: -150px;
              width: 300px;
              background: #fff;
              border-radius: 10px;
              z-index: 10;
              box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.12);
              &:before{
                position: absolute;
                display: block;
                top: -10px;
                left: 50%;
                margin-left: -7px;
                width: 15px;
                height: 10px;
                content: '';
                border-bottom: 10px solid #fff;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                z-index: 9;
              }
              a.close_block{
                position: absolute;
                display: block;
                width: 29px;
                height: 29px;
                top: 8px;
                right: 8px;
                background: url("../img/close_block.png") no-repeat;
                &:before{
                  display: none;
                }
                &:after{
                  display: none;
                }

              }
              .phons{
                padding: 30px 40px 20px;
                .sub_item{
                  margin-top: 15px;
                  &:first-child{
                    margin-top: 0;
                  }
                  a{
                    display: block;
                    padding: 0;
                    font: 22px/30px @font;
                    color: @black;
                    &:before{
                      display: none;
                    }
                    &:after{
                      display: none;
                    }
                  }
                  span{
                    display: block;
                    font: 14px/20px @font;
                    font-weight: 100;
                    color: #a6a6a6;
                  }
                }
              }
              .message{
                padding: 15px 40px 20px;
                border-top: 1px solid #E1E1E1;
                background: #F5F6F6;
                border-radius: 0 0 10px 10px;
                a{
                  position: relative;
                  font: 15px/20px @font;
                  color: @orange;
                  text-transform: none;
                  padding-left: 25px;
                  text-decoration: underline;
                  &:hover{
                    text-decoration: none;
                  }
                  &:before{
                    top: 5px;
                    width: 15px;
                    height: 10px;
                    background: url("../img/message.png") no-repeat;
                  }
                  &:after{
                    display: none;
                  }
                }
              }
            }
          }
        }
        .internet_bank{
          position: absolute;
          top: 20px;
          right: 40px;
          width: 175px;
          height: 45px;
          border-radius: 5px;
          overflow: hidden;
          &:hover{
            box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.24);
          }
          a{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding-left: 22px;
            padding-top: 5px;
            font: 11px/40px @font;
            color: #fff;
            text-transform: uppercase;
            background: @orange;
            text-align: center;
            text-decoration: none;
            &:before{
              position: absolute;
              display: block;
              top: 50%;
              margin-top: -7px;
              left: 30px;
              width: 15px;
              height: 15px;
              content: '';
              background: url("../img/internet_bank.svg") no-repeat;
              background-size: 100%;
            }
          }
        }
        .dop_menu{
          position: absolute;
          top: 22px;
          right: 0;
          a.main{
            display: block;
            width: 23px;
            height: 15px;
            span{
              display: block;
              height: 3px;
              width: 23px;
              background: @black;
              border-radius: 3px;
              margin-top: 3px;
              &:first-child{
                margin-top: 0;
              }
            }
          }
        }
        .search{
          position: absolute;
          top: 45px;
          right: 0;
          width: 18px;
          height: 18px;
          &.active{
            right: auto;
            left: 0;
            top: 50%;
            margin-top: -9px;
            a.srch{
              position: relative;
              z-index: 7;
            }
            .block{
              display: block;
            }
            .grey_fon{
              display: block;
            }
          }
          a.srch{
            display: block;
            width: 100%;
            height: 100%;
            background: url("../img/search.svg") no-repeat;
            background-size: 100%;
          }
          .block{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 90px;
            width: 100%;
            background: #fff;
            z-index: 6;
            .inn_block{
              position: relative;
              height: 100%;
              width: 1220px;
              margin: 0 auto;
              input[type='text']{
                display: block;
                width: 100%;
                height: 100%;
                font: 17px/30px @font;
                color: @black;
                padding: 30px 35px;
                border: none;
                outline: none;
              }
              input[type='submit']{
                display:none;
              }
              a.close_search{
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -11px;
                width: 22px;
                height: 22px;
                content: '';
                background: url("../img/close_search.png") no-repeat;
                background-size: 100%;
              }
            }
          }
          .grey_fon{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 5;
          }
        }
        .lk_btn{
          display: none;
          position: absolute;
          top: 18px;
          right: 80px;
          a{
            display: block;
            width: 19px;
            height: 19px;
            background: url("../img/lk.png") no-repeat;
          }
        }
      }
      .mid_lin{
        .main_menu{
          position: relative;
          float: left;
          .item{
            float: left;
            &:hover{
              a.main{
                color: @orange;
                &:after{
                  background: url("../img/arr_menu_orange.png") no-repeat;
                }
              }
            }
            &.active{
              a.main{
                background: #F1F4F5;
                color: @orange;
                &:after{
                  background: url("../img/arr_menu_orange.png") no-repeat;
                }
              }
              .block{
                display: block;
                background: #F1F4F5;
                &:before{
                  background: #F1F4F5;
                }
                &:after{
                  background: #F1F4F5;
                }
              }
            }
            a.main{
              display: block;
              height: 100%;
              position: relative;
              font: 17px/57px @font;
              color: @black;
              padding: 0 40px 0 20px;
              text-decoration: none;
              &:after{
                position: absolute;
                display: block;
                top: 50%;
                margin-top: -2px;
                right: 25px;
                width: 8px;
                height: 5px;
                content: '';
                background: url("../img/arr_menu.png") no-repeat;
              }
            }
            .block{
              display: none;
              position: absolute;
              left: 0;
              width: 1220px;
              padding: 60px 0 65px;
              background: #fff;
              &:before{
                position: absolute;
                display: block;
                top: 0;
                right: 100%;
                width: 2000px;
                height: 100%;
                content: '';
                background: #fff;
              }
              &:after{
                position: absolute;
                display: block;
                top: 0;
                left: 100%;
                width: 2000px;
                height: 100%;
                content: '';
                background: #fff;
              }
              .sub_item{
                float: left;
                width: 280px;
                min-height: 215px;
                padding-left: 20px;
                margin-left: 20px;
                border-left: 1px solid #d7d7d7;
                &:first-child{
                  margin-left: 0;
                  //padding-left: 0;
                  border-left: none;
                }
                .cell{
                  margin-top: 20px;
                  &:first-child{
                    margin-top: 0;
                  }
                  a.sub_main{
                    display: block;
                    font: bold 17px/20px @font;
                    color: #373a36;
                    margin-bottom: 15px;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                  .sub_block{
                    span{
                      display: block;
                      margin-top: 10px;
                      &:first-child{
                        margin-top: 0;
                      }
                      a{
                        display: inline-block;
                        font: 16px/20px @font;
                        color: #373a36;
                        &:hover{
                          color: @orange;
                        }
                      }
                    }
                    .txt{
                      font: 15px/20px @font;
                      color: #373a36;
                    }
                  }
                  .sub_item_cards{
                    .title{
                      font: bold 12px/18px @font;
                      color: #373a36;
                      margin-bottom: 10px;
                      text-transform: uppercase;
                      text-align: center;
                    }
                    .img{
                      margin: 0 auto;
                      margin-bottom: 15px;
                      width: 194px;
                      height: 122px;
                      border-radius: 10px;
                      border: 1px solid #D0DDDD;
                      overflow: hidden;
                      &.int_bank{
                        width: 210px;
                        height: 120px;
                        border: none;
                        border-radius: 0;
                        overflow: visible;
                      }
                      a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        img{
                          width: 100%;
                          height: 100%;
                        }
                      }
                    }
                    .butn{
                      margin: 0 auto;
                      width: 194px;
                      height: 46px;
                      text-align: center;
                      input[type='submit']{
                        width: 100%;
                        border: 2px solid @orange;
                        border-radius: 5px;
                        font: 12px/46px @font;
                        color: @orange;
                        text-transform: uppercase;
                        background: none;
                        &:hover{
                          background: @orange;
                          color: #fff;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .client_menu{
          float: right;
          .item{
            float: left;
            margin-left: 15px;
            &:first-child{
              margin-left: 0;
              a{
                padding-left: 0;
                &:before{
                  display: none;
                }
              }
            }
            a{
              position: relative;
              font: 12px/57px @font;
              color: @black;
              text-transform: uppercase;
              padding-left: 17px;
              &:hover{
                text-decoration: none;
              }
              &:before{
                position: absolute;
                display: block;
                top: 50%;
                margin-top: -5px;
                left: 0;
                width: 1px;
                height: 10px;
                background: #93ADA6;
                content: '';
              }
              &.active{
                color: @orange;
              }
            }
          }
        }
      }
      #city{
        &.act{
          z-index: 99;
          position: relative;
          background: #fff;
          &:before {
              position: absolute;
              height: 100%;
              width: 1920px;
              background: #ffffff url("../img/city_list_ns.jpg") 50% 0% no-repeat;
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 0;
          }
          &:after {
              position: absolute;
              height: 3000px;
              width: 1920px;
              background: rgba(0, 0, 0, 0.7);
              left: 50%;
              margin-left: -960px;
              content: '';
              top: 100%;
          }
        }
      }
      .pan_reg_chosen{
        z-index: 100;
        position: relative;
        display: block;
         .close_city {
            top: 30px;
            width: 22px;
            height: 22px;
            background: url('../img/close_search.png') no-repeat 50% 50%;
            &:hover {
              background: url('../img/close_search.png') no-repeat 50% 50%;
              opacity: 0.85;
            }
        }
        .logo{
          top: 15px;
        }
        .allregs{
          float: none;
          position: absolute;
          left: 0;
          top: 95px;
        }
        .chosen_reg{
          float: none;
          font: 24px/28px @font;
          color:#373a36;
          margin-bottom: 15px;
        }
        .section{
          float: left;
          width: 200px;
          a{
            color: #373a36;
            text-decoration: underline;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .city_choice{
          float: none;
          color: #373a36;
          font: 16px/20px @font;
          a{
            color: #373a36;
            text-decoration: underline;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .block{
           padding: 90px 25px 45px 360px;
        }
        .inp{
          width: 780px;
          min-height: 50px;
          background: url("../img/search.svg") no-repeat 15px 15px #fff;
          border-radius: 3px;
          border:1px solid #cccccc;
          left: 360px;
          top: 15px;
          position: absolute;
          padding: 15px 45px;
          z-index: 10;

          input[type="text"]{
            color: #969595;
            font: 16px/20px @font;

            width: 100%;
            height: 100%;
            background: none;
            border:0;
          }
          .suggestions-wrapper{
              width: 100%;
              color: #969595;
              font: 16px/20px @font;
              z-index: 10;
              a{
                color: #969595;
                display: block;
                margin-top: 15px;
                &:hover{
                    color: #fe5000;
                }
              }
          }
        }
      }
    }
  }

  .block_slides_ns{
    background: url("../img/bg_top_slider.jpg") 50% 50% no-repeat;
    height: 570px;
    background-size: cover;
    .inner_slider{
      width: 1220px;
      margin: 0 auto;
      height: 550px;
      .inn_sl{
        position: relative;
        &.slick-slider{
          ul.slick-dots{
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            right: 0;
            padding: 0;
            margin: 0;
            font: 0/0 @font;
            text-align: center;
            li{
              position: relative;
              width: 66px;
              list-style: none;
              margin-top: 20px;
              &:first-child{
                margin-top: 0;
              }
              &.slick-active{
                button{
                  &:before{
                    background: @orange;
                  }
                }
              }
              &:before{
                  font: 14px/28px @font;
                  color: #373a36;
                  background: #ffffff;
                  display: none;
                  padding: 0 25px;
                  height: 28px;
                  border-radius: 3px;
                  white-space: nowrap;
                  position: absolute;
                  right: 86px;
                  top: 50%;
                  margin-top: -14px;
              }
              &:after{
                  content: '';
                  display: none;
                  right: 100%;
                  position: absolute;
                  border: 5px solid transparent;
                  border-left: 6px solid #ffffff;
                  width: 20px;
                  top: 50%;
                  margin-top: -5px;
              }
              &:hover{
                &:before{
                    display: block;
                }
               &:after{
                    display: block;
                }
                button{
                  width: 66px;
                  height: 66px;
                  transform: scale(110%);
                  &:before{
                    opacity: 0;
                    width: 66px;
                    height: 66px;
                  }
                }

              }
              button{
                position: relative;
                padding: 0;
                margin: 0;
                border: none;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: url("../img/slider_3.png") center center no-repeat;
                background-size: 100%;
                outline: none;
                transform: scale(1);
                transition: all 0.5s linear;
                &:before{
                  position: absolute;
                  display: block;
                  top: 0;
                  left: 0;
                  width: 14px;
                  height: 14px;
                  content: '';
                  background: #CDE1DC;
                  border-radius: 50%;
                  opacity: 1;
                  transition: all 0.5s linear;
                }
              }
              .name_slide{
                position: relative;
                display: inline-block;
                background: #fff;
                height: 27px;
                font: 14px/27px @font;
                color: @black;
                border-radius: 4px;
                padding: 0 25px;
                &:after{
                  position: absolute;
                  display: block;
                  top: 6px;
                  right: -6px;
                  width: 5px;
                  height: 10px;
                  content: '';
                  border-left: 7px solid #fff;
                  border-top: 7px solid transparent;
                  border-bottom: 7px solid transparent;
                }
              }
            }
          }
        }
        .slide{
          position: relative;
          height: 550px;
          background: url("../img/slide_1.png") 490px bottom  no-repeat;
          &.banner_4, &.banner_9{
                background-size: auto 400px;
          }
          .title{
            position: absolute;
            top: 210px;
            left: 0;
            font: 60px/64px @font;
            color: #fff;
          }
          .descr{
            position: absolute;
            top: 280px;
            left: 0;
            font: 18px/24px @font;
            color: @black;
          }
          .btn_order{
            position: absolute;
            top: 350px;
            left: 0;
            width: 190px;
            height: 58px;
            a{
              display: block;
              width: 100%;
              height: 100%;
              font: bold 12px/58px @font;
              color: @orange;
              text-transform: uppercase;
              text-align: center;
              background: #fff;
              border: 2px solid @orange;
              border-radius: 5px;
              &:hover{
                text-decoration: none;
                color: #fff;
                background: @orange;
              }
            }
          }
        }
      }
    }
  }
  .features_bank{
    background: #F6F6F6;
    box-shadow: inset 0 23px 26px 0 rgba(0,0,0,0.18);
    .inn_features{
      position: relative;
      width: 1220px;
      margin: 0 auto;
      height: 180px;
      padding: 0 155px;
      .item{
        float: left;
        position: absolute;
        bottom: 60px;
        left: 155px;
        width: 285px;
        min-height: 150px;
        &:hover{
          height: auto;
          &.distance{
            a.big{
              &:before{
                background: url("../img/white_distance.svg") no-repeat;
                background-size: 100%;
              }
            }
          }
          &.payment{
            a.big{
              &:before{
                background: url("../img/white_payment.svg") no-repeat;
                background-size: 100%;
              }
            }
          }
          &.translation{
            a.big{
              &:before{
                background: url("../img/white_translation.svg") no-repeat;
                background-size: 100%;
              }
            }
          }
          a.big{
            min-height: 100px;
            max-height: 100px;
            color: #fff;
            background: @orange;
            border-radius: 10px 10px 0 0;
            padding: 20px 30px 20px 105px;
            &:before{
              top: 20px;
            }
          }
          .block{
            display: block;
          }
        }
        &.distance{
          a.big{
            &:before{
              background: url("../img/orange_distance.svg") no-repeat;
              background-size: 100%;
            }
          }
        }
        &.payment{
          bottom: 60px;
          left: 465px;
          a.big{
            &:before{
              background: url("../img/orange_payment.svg") no-repeat;
              background-size: 100%;
            }
          }
        }
        &.translation{
          bottom: 60px;
          left: 775px;
          a.big{
            &:before{
              background: url("../img/orange_translation.svg") no-repeat;
              background-size: 100%;
            }
          }
        }
        a.big{
          position: relative;
          display: block;
          min-height: 150px;
          max-height: 150px;
          border-radius: 10px;
          padding: 46px 30px 46px 105px;
          font: 20px/26px 'Circe', 'Arial', san-serif;
          color: #373a36;
          text-decoration: none;
          background: #fff;
          &:hover{
            text-decoration: none;
          }
          &:before{
            position: absolute;
            display: block;
            top: 46px;
            left: 30px;
            width: 57px;
            height: 57px;
            content: '';
          }
        }
        .block{
          display: none;
          background: #fff;
          padding: 15px 30px 20px;
          border-radius: 0 0 10px 10px;
          span{
            display: block;
            margin-top: 5px;
            &:first-child{
              margin-top: 0;
            }
            a{
              font: 16px/28px @font;
              color: @black;
              &:hover{
                text-decoration: none;
                color: @orange;
              }
            }
          }
        }
      }
    }
  }
  .products_bank{
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 50px;//
    padding-top: 35px;
    text-align: center;
    .title{
      margin-bottom: 5px;
      font: 30px/34px 'Circe', 'Arial', sans-serif;
      color: #373a36;
    }
    .sub_title{
      margin-bottom: 35px;
      font: 20px/26px 'Circe', 'Arial', sans-serif;
      color: #6e6e6e;
    }
    .prod_block {
      font: 0/0 @font;
      text-align: center;
      .big_item{
        display: inline-block;
        margin-left: 20px;
        width: 290px;
        &:first-child {
          margin-left: 0;
        }
        .item {
          .img {
            height: 145px;
            margin-bottom: 15px;
            a {
              display: block;
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;
              &:hover {
                img {
                  width: 105%;
                  height: 105%;
                }
              }
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 100%;
                height: 100%;
                transition: all 0.5s ease-in-out;
              }
            }
          }
          .descr {
            a {
              font: 12px/22px 'Circe', 'Arial', san-serif;
              color: #414141;
              text-transform: uppercase;
              &:hover {
                text-decoration: none;
              }
              span {
                display: block;
                font: 13px/26px 'Circe', 'Arial', san-serif;
                color: #000;
              }
            }
          }
        }
      }

    }
  }
}









































//bootstrap-selects
@color-red-error: rgb(185, 74, 72);
@color-grey-arrow: rgba(204, 204, 204, 0.2);
@width-default: 220px; // 3 960px-grid columns
@zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

//** Placeholder text color
@input-color-placeholder: #999;

// Mixins
.cursor-disabled() {
  cursor: not-allowed;
}

// Rules
select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}
.bootstrap-select {
  width: 220px \0; /*IE9 and below*/

  // The selectpicker button
  > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;

    &.bs-placeholder,
    &.bs-placeholder:hover,
    &.bs-placeholder:focus,
    &.bs-placeholder:active { color: @input-color-placeholder; }
  }

  > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;

    &.mobile-device {
      top: 0;
      left: 0;
      display: block !important;
      width: 100% !important;
      z-index: 2;
    }
  }

  // Error display
  .has-error & .dropdown-toggle,
  .error & .dropdown-toggle {
    border-color: @color-red-error;
  }

  &.fit-width {
    width: auto !important;
  }

  &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: @width-default;
  }

  .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
  }
}
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;

  &:not([class*="col-"]) {
    width: 100%;
  }

  &.input-group-btn {
    z-index: auto;

    &:not(:first-child):not(:last-child) {
      > .btn {
        border-radius: 0;
      }
    }
  }
}

// The selectpicker components
.bootstrap-select.btn-group {
  &:not(.input-group-btn),
  &[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
  }

  // Forces the pull to the right, if necessary
  &,
  &[class*="col-"],
  .row &[class*="col-"] {
    &.dropdown-menu-right {
      float: right;
    }
  }

  .form-inline &,
  .form-horizontal &,
  .form-group & {
    margin-bottom: 0;
  }

  .form-group-lg &.form-control,
  .form-group-sm &.form-control {
    padding: 0;

    .dropdown-toggle {
      height: 100%;
      font-size: inherit;
      line-height: inherit;
      border-radius: inherit;
    }
  }

  // Set the width of the live search (and any other form control within an inline form)
  // see https://github.com/silviomoreto/bootstrap-select/issues/685
  .form-inline & .form-control {
    width: 100%;
  }

  &.disabled,
  > .disabled {
    .cursor-disabled();

    &:focus {
      outline: none !important;
    }
  }

  &.bs-container {
    position: absolute;
    height: 0 !important;
    padding: 0 !important;

    .dropdown-menu {
      z-index: @zindex-select-dropdown;
    }
  }

  // The selectpicker button
  .dropdown-toggle {
    .filter-option {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      text-align: left;
    }

    .caret {
      position: absolute;
      top: 50%;
      right: 12px;
      margin-top: -2px;
      vertical-align: middle;
    }
  }

  &[class*="col-"] .dropdown-toggle {
    width: 100%;
  }

  // The selectpicker dropdown
  .dropdown-menu {
    min-width: 100%;
    box-sizing: border-box;

    &.inner {
      position: static;
      float: none;
      border: 0;
      padding: 0;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }

    li {
      position: relative;

      &.active small {
        color: #fff;
      }

      &.disabled a {
        .cursor-disabled();
      }

      a {
        cursor: pointer;
        user-select: none;

        &.opt {
          position: relative;
          padding-left: 2.25em;
        }

        span.check-mark {
          display: none;
        }

        span.text {
          display: inline-block;
        }
      }

      small {
        padding-left: 0.5em;
      }
    }

    .notify {
      position: absolute;
      bottom: 5px;
      width: 96%;
      margin: 0 2%;
      min-height: 26px;
      padding: 3px 5px;
      background: rgb(245, 245, 245);
      border: 1px solid rgb(227, 227, 227);
      box-shadow: inset 0 1px 1px fade(rgb(0, 0, 0), 5%);
      pointer-events: none;
      opacity: 0.9;
      box-sizing: border-box;
    }
  }

  .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
  }

  &.fit-width .dropdown-toggle {
    .filter-option {
      position: static;
    }

    .caret {
      position: static;
      top: auto;
      margin-top: -1px;
    }
  }

  &.show-tick .dropdown-menu li {
    &.selected a span.check-mark {
      position: absolute;
      display: inline-block;
      right: 15px;
      margin-top: 5px;
    }

    a span.text {
      margin-right: 34px;
    }
  }
}
.bootstrap-select.show-menu-arrow {
  &.open > .dropdown-toggle {
    z-index: (@zindex-select-dropdown + 1);
  }

  .dropdown-toggle {
    &:before {
      content: '';
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid @color-grey-arrow;
      position: absolute;
      bottom: -4px;
      left: 9px;
      display: none;
    }

    &:after {
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      position: absolute;
      bottom: -4px;
      left: 10px;
      display: none;
    }
  }

  &.dropup .dropdown-toggle {
    &:before {
      bottom: auto;
      top: -3px;
      border-top: 7px solid @color-grey-arrow;
      border-bottom: 0;
    }

    &:after {
      bottom: auto;
      top: -3px;
      border-top: 6px solid white;
      border-bottom: 0;
    }
  }

  &.pull-right .dropdown-toggle {
    &:before {
      right: 12px;
      left: auto;
    }

    &:after {
      right: 13px;
      left: auto;
    }
  }

  &.open > .dropdown-toggle {
    &:before,
    &:after {
      display: block;
    }
  }
}
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}
.bs-actionsbox {
  width: 100%;
  box-sizing: border-box;

  & .btn-group button {
    width: 50%;
  }
}
.bs-donebutton {
  float: left;
  width: 100%;
  box-sizing: border-box;

  & .btn-group button {
    width: 100%;
  }
}
.bs-searchbox {
  & + .bs-actionsbox {
    padding: 0 8px 4px;
  }

  & .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
  }
}

